<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work page</title>
    <link rel="stylesheet" href='style.css'>
</head>

<body>
    <h1>Books</h1>
    <ul>
        <li><span>"April in Paris"</span> - 1962</li>
        <li><span>"left hand of darkness"</span> - 1969</li>
        <li><span>"the dispossessedd"</span> - 1974</li>
    </ul>
    <nav>
        <a href='/'>Home</a>
    </nav>
</body>

</html>